<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acceso Denegado</title>
    <link rel="stylesheet" href="/css/Style.css">
</head>
<body>

<header>Sistema de Parqueadero</header>

<div class="container">
    <div class="card">
        <h2>Acceso Denegado</h2>
        <p>No tienes permisos para acceder a esta página.</p>
        <a href="/">Volver al login</a>
    </div>
</div>

</body>
</html>