<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta de Vehículos</title>
    <link rel="stylesheet" href="/css/Style.css">
</head>
<body>

<header>Sistema de Parqueadero</header>

<div class="container">
    <div class="card" style="width: 95%;">
        <h2>Consulta de Vehículos</h2>

        <table>
            <thead>
            <tr>
                <th>Placa</th>
                <th>Tipo</th>
                <th>Ubicación</th>
                <th>Estado</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="registro : ${registros}">
                <td th:text="${registro.placa}"></td>
                <td th:text="${registro.tipoVehiculo.nombre}"></td>
                <td th:text="${registro.ubicacion}"></td>
                <td th:text="${registro.horaSalida == null ? 'En parqueadero' : 'Retirado'}"></td>
            </tr>
            </tbody>
        </table>

        <p><a th:href="@{/cliente}">Volver</a></p>
    </div>
</div>

</body>
</html>